body {
	width: 1000px;
	margin: auto;
	background: white;
	font-family: Arial, Tahoma, sans-serif;
}

/*HEADER*/

header {
	position: relative;
	padding: 22px 45px;
	padding-bottom: 0px;
	padding-left: 53px;
}
header img {
	background: linear-gradient(to bottom,#0c3357, #1e6584);
	width: 20px;
	height: 20px;
	border-radius: 15px;
}
header p {
	display: inline-block;
	font-size: 18px;
	color: #5e696d;
	position: absolute;
	top: 23px;
	letter-spacing: 0.5px;
}
header form {
	background:linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
	position: relative;
	left: 282px;
	top: -9px;
	padding-left: 23px;
	border-radius: 5px;
	padding-top: 4px;
	padding-bottom: 6px;
	font-size: 11px;
	width: 472px;
	display: inline-block;
	 box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	
}
header form img{
	width: auto;
	height: auto;
	position: absolute;
	top: 5px;
	left: 6px;
}
header form input {
	width: 110px;
	height: 14px;
	border-radius: 1px;
	border: 0;
	padding-left: 4px;
	margin-right: 4px;
}
header form ul {
	display: inline-block;
}
header form li {
	display: inline-block;
	 
}
header form li:first-child {
	border-right: 1px solid white;
	padding-right: 5px;
	padding-left: 3px;
}
header form li:nth-child(2) {
	padding-right: 12px;
}
header form li:last-child {
	font-size: 12px;
	border-bottom: 1px solid #bfbfbf;
}
header form a {
	display: inline-block;
	text-decoration: none;
	color: white;
}
header form span {
	display: inline-block;
	color: #bfbfbf;
}
header .navi{
	width: 75px;
	border: 1px solid gray;
	border-radius: 10px;
	display: inline-block;
	position: absolute;
	right: 51px;
	top: 19px;
	box-shadow: 3px 3px 5px 0px rgba(203,203,203,0.75);
}
header .navi li {
	display: inline-block;
	padding: 1px 0px;
    padding-left: 7px;
}
header .navi img {
	width: 11px;
	height: 11px;
	background: white;
	border-radius: 0;
}

/*IMAGE*/	

body .auto{
	margin: auto 45px;
	margin-top: 2px;
}

/*NAV*/

nav {
	margin: auto 45px;
	margin-top: 2px;
	background: #191b1e;
	height: 34px;
	border-radius: 5px;
	box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.75);
	background: linear-gradient(to top, black, #576068 );
	
}
nav ul {
	position: relative;
}
nav li {
	display: inline-block;
	padding: 10px;
}
nav li a {
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	text-decoration: none;
	color: #b1bcc0;
	text-transform: uppercase;
	font-size: 14px;
	 
}
nav li:first-child {
	margin-left: 135px;
}
nav li:nth-child(3){
	padding-right: 14px;
	padding-left: 12px; 
}
nav li:nth-child(6) {
	position: absolute;
	right: 197px;
}
nav li:nth-child(7) {
	padding-left: 88px;
	padding-right: 0px;
}
nav li:nth-child(8) {
	padding: 0;
}
nav li:nth-child(9) {
	padding-left: 6px;
	padding-right: 4px;
}
nav li:nth-child(10) {
	padding-left: 2px;
}
nav li .order {
	text-transform: lowercase;
	font-size: 11px;
	font-family: Arial, Tahoma, sans-serif;
}
nav li .price {
	text-transform: lowercase;
	font-size: 12px;
	color: #0d5a8f;
}
nav li:hover {
	background:linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
	border-radius: 10px;
	padding-top: 2px;
	height: 10px;
}
nav li a:hover {
	color: white;
}
nav li:nth-child(6):hover {
	background: #191b1e;
	top: 8px;
}
nav li:nth-child(7):hover {
	background: #191b1e;
}
nav li:nth-child(8):hover {
	background: #191b1e;
}
nav li:nth-child(9):hover {
	background: #191b1e;
}
nav li:nth-child(10):hover {
	background: #191b1e;
}

/*FIND PANEL*/

div {
	margin: auto 45px;
	margin-top: 10px;
	margin-left: 48px;
}
.navigate .search_tires {
	margin-left: 3px;
	 
}
.navigate .search_disc {
    margin-right: -3px;
}

/*LEFT ASIDE*/

aside {
	float: left;
	margin-left: 45px;
	margin-top: 7px;
	margin-right: 5px;
	width: 186px; 
}
aside ul {
	position: relative;
}
aside li {
	text-decoration: none;
	color: #465961;
	margin-left: 45px;
	margin-top: 4px;
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 13px;
	list-style-type: circle;
	line-height: 21px;
	text-transform: capitalize;
}
aside li:first-child {
	margin: 0;
	width: 178px;
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	border: 1px solid #465961;
	border-radius: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2px;
	box-shadow: 2px 2px 5px 0px rgba(150,150,150,0.75);
	list-style-type: none;
}
aside li:first-child:hover {
	font-size: 13px;
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
}
aside li img {
	margin-left: 5px;
	margin-right: 6px;
	background: linear-gradient(to bottom,#0c3357, #1e6584);
	border-radius: 15px;
}
aside li:nth-child(2){
	margin: 0;
	width: 144px;
	height: 22px;
	font-size: 14px;
	text-transform: uppercase;
	border: 1px solid #465961;
	border-radius: 15px;
	padding-top: 3px;
	box-shadow: 2px 2px 5px 0px rgba(150,150,150,0.75);
	margin-top: 12px;
	padding-left: 5px;
	list-style-type: none;
}
aside li:nth-child(7){
	margin: 0;
    width: 145px;
    height: 21px;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #465961;
    border-radius: 15px;
    padding-top: 3px;
    margin-top: 1px;
    box-shadow: 2px 2px 5px 0px rgba(150,150,150,0.75);
    padding-left: 4px;
    list-style-type: none;
}
aside li:nth-child(12){
	margin: 0;
	width: 145px;
	height: 22px;
	font-size: 14px;
	text-transform: uppercase;
	border: 1px solid #465961;
	border-radius: 15px;
	padding-top: 3px;
	box-shadow: 2px 2px 5px 0px rgba(150,150,150,0.75);
	padding-left: 5px;
	list-style-type: none;
}
aside li:hover {
	font-style: italic;
	color: #0c3256;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}
aside .circle {
	width: 20px;
	height: 20px;
	margin: 0;
	margin-right: 4px;
}
aside .bus {
	position: absolute;
	top: 46px;
	left: 32px;
}
aside .wheels {
	position: absolute;
	top: 173px;
	left: 30px;
}
aside .bolts {
	position: absolute;
	top: 299px;
}

/*MAIN*/

main {
	float: left;
	width: 525px;
	height: 627px;
	margin-top:	5px;
	background-color: white;
	background: linear-gradient(to top, #93a7b0, #e5e7e8);
}
main figure {
	display: block;
	float: left;
	width: 140px;
	height: 180px;
	margin: 14px 8px 10px 21px;
}
main figure img {
	 
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	 
	
	
}
main figure .first_wheels {
	padding-left: 1px;
     
}
main figure .second_wheels {
	
}
main figure h6 {
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	text-align: center;
	font-size: 15px;
	color: #206988;
	letter-spacing: 0.5px;
    padding-left: 3px;
}
main figure p{
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	text-align: center;
	font-size: 13px;
	color: #1f2528;
	padding-left: 11px;
    letter-spacing: 0.0px;
}
main figure .third_whils {
	text-align: left;
	
}
main figure figcaption {
	margin-top: 2px;
    margin-left: 10px;
	text-align: center;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	color: #114165;
}

figcaption span {	
	font-size: 13px;
	}

/*RIGHT ASIDE*/

.right_aside {
	float: left;
	display: inline-block;
	margin-left: 10px;
}
.right_aside h6 {
	width: 178px;
	font-size: 14px;
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	text-transform: uppercase;
	border: 1px solid #465961;
	border-radius: 15px;
	padding-top: 3px;
	padding-left: 2px;
	padding-bottom: 5px;
	box-shadow: 2px 2px 5px 0px rgba(150,150,150,0.75);
	color: #465961;
}
.right_aside img {
	margin-left: 5px;
	margin-right: 9px;
	background: linear-gradient(to bottom,#0c3357, #1e6584);
	border-radius: 15px;
}
.right_aside p {
	width: 134px;
	height: 22px;
	font-size: 14px;
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	text-transform: uppercase;
	border: 1px solid #465961;
	border-radius: 15px;
	padding-top: 3px;
	box-shadow: 2px 2px 5px 0px rgba(150,150,150,0.75);
	margin-top: 14px;
	color: #465961;
	position: relative;
	margin-left: 15px;
	margin-bottom: 6px;
}
.right_aside .checkbox_second {
	margin-top: 6px;
}
.right_aside .circle {
	background: linear-gradient(to bottom,#0c3357, #1e6584);
	border-radius: 15px;
}
.right_aside span {
	position: absolute;
	top: 6px;
	left: 31px;
}
.right_aside form  {
	width: 95px;
	display: inline-block;
	padding-left: 23px;
	line-height: 25px;
	color: #465961;
	font-size: 13px;
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
}
.right_aside form input {
	margin-right: 12px;
	width: 10px;
	border: 1px solid #465961;
}
form input[type=submit] {
	width: 80px;
	height: 25px;
	margin-left: 2px;
    margin-top: 14px;
	border-radius: 15px;
	background: linear-gradient(to top,#0c3357, #1e6584);
	box-shadow: 2px 2px 5px 0px rgba(150,150,150,0.75);
	border: 0;
	color: white;
	text-transform: uppercase;
	font-size: 11px;
}

/*FOOTER*/

footer img {
	width: 676px;
	padding-left: 163px;
	margin-top: 38px;
}
footer div {
	background: #213a4d;
	height: 100px;
	margin-top: 21px;
}
footer ul {
	width: 321px;
	margin-left: 296px;
}
footer li {
	display: inline-block;
	margin-top: 10px;
	padding-right: 12px;
	padding-left: 11px;
	border-right: 1px solid #bec6c9;
}
footer li:last-child {
	border: 0;
}
footer li a{
	text-decoration: none;
	color: #bec6c9;
	font-size: 12px;
}
footer li a:hover {
	color: #52abcb;
}
footer p {
	margin-top: 14px;
	color: #7f4740;
	font-size: 10px;
	text-align: center;
}